@model UserForLoginModel
@{
  ViewData["Title"] = "Giriş yap";
}

<main class="container d-flex justify-content-center align-items-center" style="height: 100vh; width: 18rem;">
    @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
    {
      <div class="p-3 d-flex justify-content-center">
        <img class="mx-auto" src="~/img/logo-light.svg" alt="" width="300">
      </div>

      <div class="my-3">
        @Html.LabelFor(x=>x.Email, new { @class = "form-label" })
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Email)
      </div>

      <div class="my-3">
        @Html.LabelFor(x=>x.Password, new { @class = "form-label" })
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Password)
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Giriş yap</button>
    }
</main>
